//- include ../components/task2/task2

mixin task1({header})
    .task1
        .task1__header= header
        .task1__label First number:
        input.task1__input.js-number1
        .task1__label Second number:
        input.task1__input.js-number2
        input.task1__submit(type="button", value="Summ")