
.task {
    display: grid;
    height: 100%;
    min-width: 20rem;
    grid-gap: 0.3rem;
    grid-template-areas:    "t1 t2 t2"
                            "t4 t4 t3";
    grid-template-columns: 1f auto 2fr;
    grid-template-rows: minmax(100px,auto) minmax(100px,auto);

    @media screen and (max-width: 60rem) {
        grid-template-areas:    "t1" "t2" "t3" "t4";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }

    &__task1, &__task2, &__task3, &__task4 {
        display: flex;
        justify-content: center;
        border-radius: 0.5rem;
        padding: 1rem;
    }

    &__task1 {
        grid-area: t1;
        border: 0.3rem solid rgb(210, 255, 220);
    }

    &__task2 {
        grid-area: t2;
        border: 0.3rem solid rgb(255, 238, 206);
    }

    &__task3 {
        grid-area: t3;
        border: 0.3rem solid rgb(251, 211, 255);
    }

    &__task4 {
        grid-area: t4;
        border: 0.3rem solid rgb(216, 234, 255);
    }
}