
mixin task2({header, label, button})
    .task2
        .task2__header= header
        .task2__label= label
        input.task2__input.js-task2__start-position.error
        input.task2__submit.js-task2__submit(type="button", value=button, disabled)